/* common styles */
body{
    font-family: 'Bebas Neue', cursive;
font-family: 'Manrope', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Mukta', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
margin: 0;
background-color: rgba(32, 27, 27, 0.288);
}

/* header style */
header{
    width: 100%;
    height: 100px;
    background: rgb(14, 13, 13);
    display: flex;
    justify-content: center;

}

nav{
    width: 1500px ;
    display: flex;
    justify-content: space-between;
    align-items: center;     
}

.left-heading{
    display: flex;
}
.left-heading h1{
    color: white;
    font-size: 2em;
}
.right-heading{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 30px;
}
.right-heading a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* section-one */
.one{
display: flex;
align-items: center;
margin-top: 50px;
}
.one-left{
width: 50%;
margin-right: 100px;
padding: 20px;
margin-left: 200px
}
.one-left p{
    width: 80%; 
    font-size: 20px;
}
.one-left button{
    font-weight: 700;
}
.one-left h1{

    font-size: 60px;
    font-weight: 900;
}

.one-right{

    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    width: 50%;

}
button{
    background-color: black;
    padding: 5px 20px;
    border-radius: 20px;
    color: white;
    font-size: 15px;
}
/* section-two */
.two{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 60px;
}

/* section-three */

.two{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.two h1{
    text-align: center;
    font-size: 40px;
    
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 70px;
    row-gap: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.item{
    border-radius: 20px;
    padding: 20px 20px;
    box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.178);
    background-color: white;

}
.detail{
    text-align: center;
}
.full{
    color: orange;
}

.two h3{
    text-align: right;
    
}
.two h3>a{
    text-decoration: none;   
}




/* footer */
footer {
   text-align: center; 
   background-color: black;
   color: white;
   padding: 20px;
}


.social{
    display: grid;
    grid-template-columns: repeat(4, 20px);
    column-gap: 35px;
    justify-content: center;
    
}
.social a{
    font-size: 25px;
    
}



/*........................
 MEDIA QUERIES
.......................... */
/* Mobile Devices */

@media (max width:550px){
    nav{
       
       width: 100%;
    }
    .two{
        width: 100%;
    }
    .products{
        grid-template-columns: repeat(1, 1fr);
       
    }
    .item{
        flex-direction: column;
    }
    
    footer{
        width: 100%;
    }
}
/* Table devices */

@media only screen and (min-width:688px) and (max-width:992px) {


    .one{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .one-left{   
        width: 100%;
    }
    .one-left h1{
        font-size: 30px;
    }
    .products{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
    footer{
        width: 100%;
    }
    
}